@model GuzelRandevu.Models.GuzellikMerkezi

@{ ViewData["Title"] = "Ekle"; }

<h5>Güzellik Merkezi Ekle</h5>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .container {
            position: relative;
            width: 50%;
        }

        .image {
            display: block;
            width: 100%;
            height: auto;
        }

        .overlay {
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            background-color: #008CBA;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
        }

        .container:hover .overlay {
            bottom: 0;
            height: 100%;
        }

        .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }
    </style>
</head>
<body>

    <h2>Slide in Overlay from the Top</h2>
    <p>Hover over the image to see the effect.</p>

    <div class="container">
        <img src="img_avatar.png" alt="Avatar" class="image">
        <div class="overlay">
            <div class="text">Hello World</div>
        </div>
    </div>

</body>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MerkezCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="merkezResim" class="control-label"></label>
                <input type="image" asp-for="merkezResim" class="form-control" />
                <span asp-validation-for="merkezResim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="merkezId" class="control-label"></label>
                <input asp-for="merkezId" class="form-control" />
                <span asp-validation-for="merkezId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="merkezAdi" class="control-label"></label>
                <input asp-for="merkezAdi" class="form-control" />
                <span asp-validation-for="merkezAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="merkezAdresi" class="control-label"></label>
                <input asp-for="merkezAdresi" class="form-control" />
                <span asp-validation-for="merkezAdresi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="merkezEmail" class="control-label"></label>
                <input asp-for="merkezEmail" class="form-control" />
                <span asp-validation-for="merkezEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MerkezIndex">Güzellik Merkezlerine Geri Dön</a>
</div>

